{"openapi":"3.0.3","info":{"title":"Api Documentation","description":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0"},"servers":[{"url":"http://cross-produce-management.idc-stg.nioint.com:80","description":"Inferred Url"}],"tags":[{"name":"basic-error-controller","description":"Basic Error Controller"},{"name":"operation-handler","description":"Operation Handler"},{"name":"web-mvc-links-handler","description":"Web Mvc Links Handler"},{"name":"工具接口","description":"Util Controller"},{"name":"建图环节相关接口","description":"Mapping Task Controller"},{"name":"批次相关接口","description":"Batch Controller"},{"name":"批量推理打分接口","description":"Infer Eval Controller"},{"name":"批量路口融合相关接口","description":"Merge Subtask Controller"},{"name":"生产环节相关接口","description":"Produce Controller"},{"name":"用户相关接口","description":"User Controller"},{"name":"路口任务相关接口","description":"Task History Controller"},{"name":"路口建图转移资料平台相关接口","description":"Cross Mapping Transfer Controller"},{"name":"路口管理相关接口","description":"Cross Controller"},{"name":"进度统计相关接口","description":"Progress Controller"},{"name":"配置参数管理接口","description":"Config Param Controller"},{"name":"采集相关接口","description":"Collect Controller"},{"name":"项目相关接口","description":"Project Controller"}],"paths":{"/cross-produce-management/error":{"get":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingPUT","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingDELETE","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"options":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingOPTIONS","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"head":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingHEAD","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"patch":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingPATCH","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"trace":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingTRACE","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/cross-produce-management/batch/addMssCross":{"post":{"tags":["批次相关接口"],"summary":"按MSS协议添加场景","operationId":"addMssCrossUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProduceTaskMsg"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«BatchCross»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/batch/cleanCross":{"post":{"tags":["批次相关接口"],"summary":"场景下线","operationId":"cleanCrossUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CleanCrossReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«int»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/batch/create":{"post":{"tags":["批次相关接口"],"summary":"创建批次","operationId":"createUsingPOST","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"batchDesc":{"type":"string","description":"批次描述"},"batchFile":{"type":"string","description":"批次文件","format":"binary"},"batchId":{"type":"integer","description":"批次编号，仅更新时提供","format":"int64"},"batchIds":{"type":"string","description":"批次编号，仅批量更新时提供"},"batchName":{"type":"string","description":"批次名"},"businessType":{"type":"integer","description":"生产模式","format":"int32"},"configParam":{"type":"string","description":"批次配置"},"fileContent":{"type":"string"},"operator":{"type":"string","description":"操作员"},"processList":{"type":"string","description":"流程列表"},"projectId":{"type":"integer","description":"项目编号","format":"int64"}}},"encoding":{"batchName":{"contentType":"text/plain"},"processList":{"contentType":"text/plain"},"batchFile":{"contentType":"text/plain"},"configParam":{"contentType":"text/plain"},"batchDesc":{"contentType":"text/plain"},"batchIds":{"contentType":"text/plain"},"batchId":{"contentType":"text/plain"},"businessType":{"contentType":"text/plain"},"projectId":{"contentType":"text/plain"},"fileContent":{"contentType":"text/plain"},"operator":{"contentType":"text/plain"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/batch/query":{"post":{"tags":["批次相关接口"],"summary":"查询批次列表","operationId":"queryUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/批次查询实体类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«批次实体类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/batch/queryCross":{"post":{"tags":["批次相关接口"],"summary":"查询批次中路口列表","operationId":"queryCrossUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCrossQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«批次路口实体类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/batch/terminateCross":{"post":{"tags":["批次相关接口"],"summary":"场景终止生产","operationId":"terminateCrossUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CleanCrossReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«int»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/batch/transferCross":{"post":{"tags":["批次相关接口"],"summary":"为场景转移批次","operationId":"transferCrossUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferCrossReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«int»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/batch/updateBatch":{"post":{"tags":["批次相关接口"],"summary":"更新批次设置","operationId":"updateBatchUsingPOST","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"batchDesc":{"type":"string","description":"批次描述"},"batchFile":{"type":"string","description":"批次文件","format":"binary"},"batchId":{"type":"integer","description":"批次编号，仅更新时提供","format":"int64"},"batchIds":{"type":"string","description":"批次编号，仅批量更新时提供"},"batchName":{"type":"string","description":"批次名"},"businessType":{"type":"integer","description":"生产模式","format":"int32"},"configParam":{"type":"string","description":"批次配置"},"fileContent":{"type":"string"},"operator":{"type":"string","description":"操作员"},"processList":{"type":"string","description":"流程列表"},"projectId":{"type":"integer","description":"项目编号","format":"int64"}}},"encoding":{"batchName":{"contentType":"text/plain"},"processList":{"contentType":"text/plain"},"batchFile":{"contentType":"text/plain"},"configParam":{"contentType":"text/plain"},"batchDesc":{"contentType":"text/plain"},"batchIds":{"contentType":"text/plain"},"batchId":{"contentType":"text/plain"},"businessType":{"contentType":"text/plain"},"projectId":{"contentType":"text/plain"},"fileContent":{"contentType":"text/plain"},"operator":{"contentType":"text/plain"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«批次实体类»"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ResponseVo«批次实体类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/batch/updateCross":{"post":{"tags":["批次相关接口"],"summary":"更新路口","operationId":"updateCrossUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBatchCrossReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«string»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/collect/createPnPspCollectTask":{"get":{"tags":["采集相关接口"],"summary":"触发PN/PSP采集任务","operationId":"createPnPspCollectTaskUsingGET","parameters":[{"name":"crossId","in":"query","description":"crossId","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«boolean»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/collect/cross/query":{"post":{"tags":["采集相关接口"],"summary":"查询路口列表","operationId":"queryUsingPOST_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCrossQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«批次路口实体类»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/collect/material/query":{"post":{"tags":["采集相关接口"],"summary":"查询资料列表","operationId":"queryUsingPOST_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectMaterialQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«CollectMaterialVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/collect/reCreateCollectTask":{"post":{"tags":["采集相关接口"],"summary":"触发资料补采任务","operationId":"reCreateCollectTaskUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/创建资料补采实体类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«boolean»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/collect/scanMaterial":{"get":{"tags":["采集相关接口"],"summary":"触发资料扫描","operationId":"triggerCollectMaterialScanUsingGET","parameters":[{"name":"endTime","in":"query","description":"endTime","required":true,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["采集相关接口"],"summary":"触发资料扫描","operationId":"triggerCollectMaterialScanUsingPOST","parameters":[{"name":"endTime","in":"query","description":"endTime","required":true,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/config/create":{"post":{"tags":["配置参数管理接口"],"summary":"创建配置参数","operationId":"createUsingPOST_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/配置参数类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«配置参数类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/config/query/processList/{produceMode}":{"get":{"tags":["配置参数管理接口"],"summary":"查询指定生产模式的环节列表","operationId":"queryProcessListUsingGET","parameters":[{"name":"produceMode","in":"path","description":"produceMode","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/config/query/public/{produceMode}":{"get":{"tags":["配置参数管理接口"],"summary":"查询指定生产模式默认的配置参数列表","operationId":"queryPublicUsingGET","parameters":[{"name":"produceMode","in":"path","description":"produceMode","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«配置参数类»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/config/query/{groupName}":{"get":{"tags":["配置参数管理接口"],"summary":"查询配置参数列表","operationId":"queryUsingGET","parameters":[{"name":"groupName","in":"path","description":"groupName","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«配置参数类»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/cross/byId/{id}":{"get":{"tags":["路口管理相关接口"],"summary":"query","operationId":"queryUsingGET_1","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«路口实体类»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/cross/query":{"post":{"tags":["路口管理相关接口"],"summary":"query","operationId":"queryUsingPOST_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/路口查询条件实体类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«路口实体类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/cross/triggerSiteFenceAndVector":{"post":{"tags":["路口管理相关接口"],"summary":"triggerSiteFenceAndVector","operationId":"triggerSiteFenceAndVectorUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/cross/upsert":{"post":{"tags":["路口管理相关接口"],"summary":"upsert","operationId":"upsertUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/路口实体类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«int»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/cross/scanNewTransferData":{"get":{"tags":["路口建图转移资料平台相关接口"],"summary":"scanNewTransferData","operationId":"scanNewTransferDataUsingGET","parameters":[{"name":"batchId","in":"query","description":"batchId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"startCreateDate","in":"query","description":"startCreateDate","required":true,"style":"form","schema":{"type":"string"}},{"name":"endCreateDate","in":"query","description":"endCreateDate","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/inferEval/batchInferEvalTask/create":{"post":{"tags":["批量推理打分接口"],"summary":"创建批量推理打分任务","operationId":"createBatchUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchInferEvalTask"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«BatchInferEvalTask»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/inferEval/batchInferEvalTask/detail":{"post":{"tags":["批量推理打分接口"],"summary":"批量推理打分任务详情","operationId":"detailUsingPOST","parameters":[{"name":"batchInferEvalTaskId","in":"query","description":"batchInferEvalTaskId","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«BatchInferEvalTask»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/inferEval/batchInferEvalTask/detailList":{"post":{"tags":["批量推理打分接口"],"summary":"批量推理打分任务明细列表","operationId":"batchDetailListUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchInferEvalTaskDetailQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«BatchInferEvalTaskDetailVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/inferEval/batchInferEvalTask/list":{"post":{"tags":["批量推理打分接口"],"summary":"批量推理打分任务列表","operationId":"batchListUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchInferEvalTaskQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«BatchInferEvalTask»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/inferEval/batchInferEvalTask/transferInferEvalResult":{"post":{"tags":["批量推理打分接口"],"summary":"批量推理打分结果转移至合规环境","operationId":"transferInferEvalResultUsingPOST","parameters":[{"name":"batchInferEvalTaskId","in":"query","description":"batchInferEvalTaskId","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«BatchInferEvalTask»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/inferEval/inferEvalCompareTask/create":{"post":{"tags":["批量推理打分接口"],"summary":"创建推理打分对比任务","operationId":"inferEvalStatisticsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InferEvalCompareTask"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/inferEval/inferEvalCompareTask/resultList":{"post":{"tags":["批量推理打分接口"],"summary":"推理打分对比结果列表","operationId":"selectInferEvalCompareResultListUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InferEvalCompareResultQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«InferEvalCompareResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/annotation/selectList":{"post":{"tags":["建图环节相关接口"],"summary":"数据管理数据送表列表接口","operationId":"annotationSelectListUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnotationSelectQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«AnnotationSelectVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/annotation/streamsourceUuidList":{"post":{"tags":["建图环节相关接口"],"summary":"送表数据源ID列表接口","operationId":"annotationStreamsourceUuidListUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/annotation/updateBudget":{"post":{"tags":["建图环节相关接口"],"summary":"修改标注预算UUID","operationId":"updateBudgetUsingPOST","parameters":[{"name":"budgetUuid","in":"query","description":"budgetUuid","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/annotation/updateStreamTask":{"post":{"tags":["建图环节相关接口"],"summary":"修改标注任务ID","operationId":"updateStreamTaskUsingPOST","responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«配置参数类»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/batchAnnotation/create":{"post":{"tags":["建图环节相关接口"],"summary":"创建批量送标任务","operationId":"createBatchAnnotationUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/批量路口送标任务创建实体类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/batchMappingTask/batchList":{"post":{"tags":["建图环节相关接口"],"summary":"批量路口刷库批次列表","operationId":"batchMappingTaskListUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchMappingTaskQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«BatchMappingTaskVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/batchMappingTask/cancelTask":{"get":{"tags":["建图环节相关接口"],"summary":"批量刷库任务取消","operationId":"cancelTaskUsingGET","parameters":[{"name":"batchMappingTaskId","in":"query","description":"batchMappingTaskId","required":true,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"mappingTaskId","in":"query","description":"mappingTaskId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["建图环节相关接口"],"summary":"批量刷库任务取消","operationId":"cancelTaskUsingPOST","parameters":[{"name":"batchMappingTaskId","in":"query","description":"batchMappingTaskId","required":true,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"mappingTaskId","in":"query","description":"mappingTaskId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/batchMappingTask/create":{"post":{"tags":["建图环节相关接口"],"summary":"创建批量路口刷库任务","operationId":"createBatchMappingTaskUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/批量路口刷库任务创建实体类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/batchMappingTask/retryFailedInplace":{"get":{"tags":["建图环节相关接口"],"summary":"批量刷库任务失败原地重试","operationId":"retryFailedInplaceUsingGET","parameters":[{"name":"batchMappingTaskId","in":"query","description":"batchMappingTaskId","required":true,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"mappingTaskId","in":"query","description":"mappingTaskId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["建图环节相关接口"],"summary":"批量刷库任务失败原地重试","operationId":"retryFailedInplaceUsingPOST","parameters":[{"name":"batchMappingTaskId","in":"query","description":"batchMappingTaskId","required":true,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"mappingTaskId","in":"query","description":"mappingTaskId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/batchMappingTask/taskList":{"post":{"tags":["建图环节相关接口"],"summary":"批量路口刷库刷库任务列表","operationId":"batchMappingSubTaskListUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchMappingSubTaskQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«BatchMappingSubTaskVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/perception/ci/{taskId}":{"get":{"tags":["建图环节相关接口"],"summary":"获取点云建图任务的CrossInformation.json文件内容","operationId":"getCrossInformationUsingGET","parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/produceData/exportLatestPerceptionResult":{"get":{"tags":["建图环节相关接口"],"summary":"导出最新的点云建图数据集列表","operationId":"exportLatestPerceptionResultUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/produceData/getLatestModelDatasetByCross/{crossId}":{"get":{"tags":["建图环节相关接口"],"summary":"获取最新模型建图及上游点云建图的数据集信息","operationId":"getLatestModelDatasetByCrossUsingGET","parameters":[{"name":"crossId","in":"path","description":"crossId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«Map«string,string»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/produceData/getValidResultsByCross/{mappingTaskType}/{crossId}":{"get":{"tags":["建图环节相关接口"],"summary":"按路口查询有效建图结果","operationId":"getValidResultsByCrossUsingGET","parameters":[{"name":"mappingTaskType","in":"path","description":"mappingTaskType","required":true,"style":"simple","schema":{"type":"string"}},{"name":"crossId","in":"path","description":"crossId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MappingResult"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/produceData/list":{"post":{"tags":["建图环节相关接口"],"summary":"数据管理列表接口","operationId":"produceDataListUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MappingResultQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«数据管理实体类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/produceData/listData":{"post":{"tags":["建图环节相关接口"],"summary":"只查询建图结果接口","operationId":"listDataUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MappingResultQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«数据管理实体类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/produceTask/getMappingTaskByDiffId/{diffId}":{"get":{"tags":["建图环节相关接口"],"summary":"按变化源编号查询建图任务信息","operationId":"getMappingTaskByDiffIdUsingGET","parameters":[{"name":"diffId","in":"path","description":"diffId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«MappingTask»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/produceTask/list":{"post":{"tags":["建图环节相关接口"],"summary":"建图任务列表接口","operationId":"listMappingTaskVoUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MappingTaskQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«生产流程任务信息实体类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/produceTask/list-simple":{"post":{"tags":["建图环节相关接口"],"summary":"建图任务列表接口","operationId":"listMappingTaskUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MappingTaskQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«MappingTask»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mappingtask/produceTask/retryFailedAutoTask":{"post":{"tags":["建图环节相关接口"],"summary":"建图任务失败重试","operationId":"retryFailedAutoTaskUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/建图任务重试请求实体"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mergetask/getMergeTaskNameList":{"get":{"tags":["批量路口融合相关接口"],"summary":"获取融合任务名列表","operationId":"getMergeTaskNameListUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«融合任务名称实体类»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mergetask/mergeBackSubtask/create":{"post":{"tags":["批量路口融合相关接口"],"summary":"创建融合回退任务","operationId":"createMergeBackSubtaskUsingPOST","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"appendOldDiffIdFile":{"type":"string","description":"追加的变化源ID","format":"binary"},"appendOldDiffIdList":{"type":"array","items":{"type":"string"}},"baseTask":{"type":"string","description":"base融合任务"},"baseValidRouteNum":{"type":"integer","description":"base版本准出但新版本未准出的路径数量<=","format":"int32"},"baseValidRouteRate":{"type":"number","description":"base版本准出但新版本未准出路径数量占比<=","format":"double"},"batchList":{"type":"string","description":"批次编号列表字符串，英文逗号分隔"},"businessType":{"type":"integer","description":"融合产线类型","format":"int32"},"cityList":{"type":"string","description":"城市名称列表字符串，英文逗号分隔"},"compareSelectType":{"type":"string","description":"对比后数据筛选模式"},"createTime":{"type":"string","format":"date-time"},"crossIdList":{"type":"string","description":"建图实体编号字符串，多个用英文逗号分隔"},"crossNum":{"type":"integer","description":"路口总量","format":"int32"},"crossStatistics":{"type":"string"},"crossTypeList":{"type":"string","description":"路口类型编号列表字符串，英文逗号分隔"},"curValidRouteNum":{"type":"integer","description":"新版本准出但base版本未准出的路径数量>=","format":"int32"},"curValidRouteRate":{"type":"number","description":"新版本准出但base版本未准出的路径数数量占比>=","format":"double"},"deleteNewDiffIdFile":{"type":"string","description":"需要删除的变化源ID","format":"binary"},"deleteNewDiffIdList":{"type":"array","items":{"type":"string"}},"evalAlgVsn":{"type":"string","description":"推理打分算法版本"},"execEnv":{"type":"string"},"inferAlgVsn":{"type":"string","description":"推理算法版本"},"inferevalTaskId":{"type":"string","description":"推理打分任务ID"},"ndsVsn":{"type":"string","description":"ndsVsn版本号"},"operator":{"type":"string"},"projectIdList":{"type":"string","description":"项目编号列表字符串，英文逗号分隔"},"status":{"type":"string","description":"融合状态"},"subtaskDesc":{"type":"string","description":"融合任务描述"},"subtaskId":{"type":"integer","description":"融合任务ID","format":"int32"},"subtaskName":{"type":"string","description":"融合任务名称"},"taskName":{"type":"string"},"tmsConfig":{"type":"string","description":"融合流程配置"},"tmsTaskId":{"type":"string"},"updateTime":{"type":"string","format":"date-time"},"useCompare":{"type":"boolean","description":"是否启动推理打分对比及路口替换"}}},"encoding":{"inferevalTaskId":{"contentType":"text/plain"},"execEnv":{"contentType":"text/plain"},"subtaskId":{"contentType":"text/plain"},"tmsTaskId":{"contentType":"text/plain"},"inferAlgVsn":{"contentType":"text/plain"},"projectIdList":{"contentType":"text/plain"},"baseValidRouteRate":{"contentType":"text/plain"},"operator":{"contentType":"text/plain"},"tmsConfig":{"contentType":"text/plain"},"appendOldDiffIdList":{"contentType":"text/plain"},"baseTask":{"contentType":"text/plain"},"evalAlgVsn":{"contentType":"text/plain"},"curValidRouteRate":{"contentType":"text/plain"},"useCompare":{"contentType":"text/plain"},"batchList":{"contentType":"text/plain"},"deleteNewDiffIdList":{"contentType":"text/plain"},"compareSelectType":{"contentType":"text/plain"},"crossIdList":{"contentType":"text/plain"},"crossStatistics":{"contentType":"text/plain"},"crossNum":{"contentType":"text/plain"},"updateTime":{"contentType":"text/plain"},"cityList":{"contentType":"text/plain"},"crossTypeList":{"contentType":"text/plain"},"curValidRouteNum":{"contentType":"text/plain"},"subtaskDesc":{"contentType":"text/plain"},"appendOldDiffIdFile":{"contentType":"text/plain"},"createTime":{"contentType":"text/plain"},"subtaskName":{"contentType":"text/plain"},"taskName":{"contentType":"text/plain"},"baseValidRouteNum":{"contentType":"text/plain"},"businessType":{"contentType":"text/plain"},"deleteNewDiffIdFile":{"contentType":"text/plain"},"ndsVsn":{"contentType":"text/plain"},"status":{"contentType":"text/plain"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}},"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mergetask/mergeSubtask/create":{"post":{"tags":["批量路口融合相关接口"],"summary":"创建融合任务","operationId":"createMergeSubtaskUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/创建融合任务实体类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mergetask/mergeSubtask/crosslist":{"post":{"tags":["批量路口融合相关接口"],"summary":"融合任务路口明细列表","operationId":"queryCrossMergeSubtaskListUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/批量融合任务查询实体类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«批量融合路口任务明细实体类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mergetask/mergeSubtask/getTmsFields/{bizType}":{"get":{"tags":["批量路口融合相关接口"],"summary":"获得融合流程配置字段","operationId":"getTmsFieldsUsingGET","parameters":[{"name":"bizType","in":"path","description":"bizType","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mergetask/mergeSubtask/list":{"post":{"tags":["批量路口融合相关接口"],"summary":"融合任务列表","operationId":"mergeSubtaskListUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/批量融合任务查询实体类"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«批量融合任务实体类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mergetask/mergeSubtask/setNdsVsn":{"post":{"tags":["批量路口融合相关接口"],"summary":"设置NDS版本号","operationId":"setNdsVsnUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/融合任务设置NDS版本号请求实体"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mergetask/mergeSubtask/triggerMergeRevert":{"get":{"tags":["批量路口融合相关接口"],"summary":"触发融合任务状态重置，手扶操作","operationId":"triggerMergeRevertUsingGET","parameters":[{"name":"subtaskId","in":"query","description":"subtaskId","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["批量路口融合相关接口"],"summary":"触发融合任务状态重置，手扶操作","operationId":"triggerMergeRevertUsingPOST","parameters":[{"name":"subtaskId","in":"query","description":"subtaskId","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mergetask/mergeSubtask/triggerMergeSelect":{"get":{"tags":["批量路口融合相关接口"],"summary":"触发融合筛选任务，手扶操作","operationId":"triggerMergeSelectUsingGET","parameters":[{"name":"subtaskId","in":"query","description":"subtaskId","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["批量路口融合相关接口"],"summary":"触发融合筛选任务，手扶操作","operationId":"triggerMergeSelectUsingPOST","parameters":[{"name":"subtaskId","in":"query","description":"subtaskId","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/mergetask/mergeSubtask/triggerMergeTask":{"get":{"tags":["批量路口融合相关接口"],"summary":"触发融合任务","operationId":"triggerMergeTaskUsingGET","parameters":[{"name":"subtaskId","in":"query","description":"subtaskId","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["批量路口融合相关接口"],"summary":"触发融合任务","operationId":"triggerMergeTaskUsingPOST","parameters":[{"name":"subtaskId","in":"query","description":"subtaskId","required":true,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/beans":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/caches":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_1","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingDELETE","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/cross-produce-management/actuator/caches/{cache}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_2","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingDELETE_1","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/cross-produce-management/actuator/conditions":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_3","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/configprops":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_4","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/configprops/{prefix}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_5","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/env":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_6","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/env/{toMatch}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_7","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/features":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_8","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/health":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_9","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/health/**":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_10","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/heapdump":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_11","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/info":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_12","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/loggers":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_13","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/loggers/{name}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_14","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/mappings":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_15","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/metrics":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_16","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/metrics/{requiredMetricName}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_17","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/prometheus":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_18","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"text/plain;version=0.0.4;charset=utf-8":{"schema":{"type":"object"}},"application/openmetrics-text;version=1.0.0;charset=utf-8":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/refresh":{"post":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingPOST_1","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/scheduledtasks":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_19","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator/threaddump":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_20","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"text/plain;charset=UTF-8":{"schema":{"type":"object"}},"application/json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/produce/getPerceptionByDiffId/{diffSourceId}":{"get":{"tags":["生产环节相关接口"],"summary":"按变化源编号获得感知建图任务","operationId":"getPerceptionByDiffIdUsingGET","parameters":[{"name":"diffSourceId","in":"path","description":"diffSourceId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«MappingTask»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/produce/submitDiff/{mappingResultId}":{"get":{"tags":["生产环节相关接口"],"summary":"触发变化源入库","operationId":"submitDiffUsingGET","parameters":[{"name":"mappingResultId","in":"path","description":"mappingResultId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/produce/task/query":{"post":{"tags":["生产环节相关接口"],"summary":"查询生产任务列表","operationId":"queryUsingPOST_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProduceTaskQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«生产任务信息类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/progress/getCityCrossNum":{"post":{"tags":["进度统计相关接口"],"summary":"查询分城市路口交付数","operationId":"getCityCrossNumUsingPOST","parameters":[{"name":"batchIdList","in":"query","description":"批次编号列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"bizType","in":"query","description":"生产模式","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityCodeList","in":"query","description":"城市编码列表，例如：3101","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"cityLevel","in":"query","description":"城市分类","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityNameList","in":"query","description":"城市名列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"endTime","in":"query","description":"结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"flushCache","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"processKey","in":"query","description":"环节名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"projectId","in":"query","description":"项目编号","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"startTime","in":"query","description":"开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«StatCityCrossNumVo»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/progress/getCityCrossNumByProcess":{"post":{"tags":["进度统计相关接口"],"summary":"分城市查询路口交付进度","operationId":"getCityCrossNumByProcessUsingPOST","parameters":[{"name":"batchIdList","in":"query","description":"批次编号列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"bizType","in":"query","description":"生产模式","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityCodeList","in":"query","description":"城市编码列表，例如：3101","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"cityLevel","in":"query","description":"城市分类","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityNameList","in":"query","description":"城市名列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"endTime","in":"query","description":"结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"flushCache","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"processKey","in":"query","description":"环节名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"projectId","in":"query","description":"项目编号","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"startTime","in":"query","description":"开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«StatCityNumVo»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/progress/getCrossNumByCityLevel":{"get":{"tags":["进度统计相关接口"],"summary":"查询汇总路口交付数","operationId":"getCrossNumByCityLevelUsingGET","parameters":[{"name":"batchIdList","in":"query","description":"批次编号列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"bizType","in":"query","description":"生产模式","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityCodeList","in":"query","description":"城市编码列表，例如：3101","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"cityLevel","in":"query","description":"城市分类","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityNameList","in":"query","description":"城市名列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"endTime","in":"query","description":"结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"flushCache","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"processKey","in":"query","description":"环节名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"projectId","in":"query","description":"项目编号","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"startTime","in":"query","description":"开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«Map«string,List«StatCityCrossNumVo»»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["进度统计相关接口"],"summary":"查询汇总路口交付数","operationId":"getCrossNumByCityLevelUsingPOST","parameters":[{"name":"batchIdList","in":"query","description":"批次编号列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"bizType","in":"query","description":"生产模式","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityCodeList","in":"query","description":"城市编码列表，例如：3101","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"cityLevel","in":"query","description":"城市分类","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityNameList","in":"query","description":"城市名列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"endTime","in":"query","description":"结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"flushCache","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"processKey","in":"query","description":"环节名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"projectId","in":"query","description":"项目编号","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"startTime","in":"query","description":"开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«Map«string,List«StatCityCrossNumVo»»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/progress/getDailyTaskNum":{"post":{"tags":["进度统计相关接口"],"summary":"查询任务进度明细","operationId":"getDailyTaskNumUsingPOST","parameters":[{"name":"batchIdList","in":"query","description":"批次编号列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"bizType","in":"query","description":"生产模式","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityCodeList","in":"query","description":"城市编码列表，例如：3101","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"cityLevel","in":"query","description":"城市分类","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityNameList","in":"query","description":"城市名列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"endTime","in":"query","description":"结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"flushCache","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"processKey","in":"query","description":"环节名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"projectId","in":"query","description":"项目编号","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"startTime","in":"query","description":"开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«StatDailyTaskNumVo»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/progress/getTotalCrossNum":{"post":{"tags":["进度统计相关接口"],"summary":"查询汇总路口交付数","operationId":"getTotalCrossNumUsingPOST","parameters":[{"name":"batchIdList","in":"query","description":"批次编号列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"bizType","in":"query","description":"生产模式","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityCodeList","in":"query","description":"城市编码列表，例如：3101","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"cityLevel","in":"query","description":"城市分类","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityNameList","in":"query","description":"城市名列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"endTime","in":"query","description":"结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"flushCache","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"processKey","in":"query","description":"环节名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"projectId","in":"query","description":"项目编号","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"startTime","in":"query","description":"开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«StatCityCrossNumVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/progress/getTotalCrossNumByProcess":{"post":{"tags":["进度统计相关接口"],"summary":"查询路口交付进度","operationId":"getTotalCrossNumByProcessUsingPOST","parameters":[{"name":"batchIdList","in":"query","description":"批次编号列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"bizType","in":"query","description":"生产模式","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityCodeList","in":"query","description":"城市编码列表，例如：3101","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"cityLevel","in":"query","description":"城市分类","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityNameList","in":"query","description":"城市名列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"endTime","in":"query","description":"结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"flushCache","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"processKey","in":"query","description":"环节名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"projectId","in":"query","description":"项目编号","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"startTime","in":"query","description":"开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«StatNumByProgressVo»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/progress/getTotalTaskNumByProcess":{"post":{"tags":["进度统计相关接口"],"summary":"查询任务处理进度","operationId":"getTotalTaskNumByProcessUsingPOST","parameters":[{"name":"batchIdList","in":"query","description":"批次编号列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"bizType","in":"query","description":"生产模式","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityCodeList","in":"query","description":"城市编码列表，例如：3101","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"cityLevel","in":"query","description":"城市分类","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"cityNameList","in":"query","description":"城市名列表","required":false,"style":"pipeDelimited","schema":{"type":"array","items":{"type":"string"}}},{"name":"endTime","in":"query","description":"结束时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"flushCache","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"processKey","in":"query","description":"环节名称","required":false,"style":"form","schema":{"type":"string"}},{"name":"projectId","in":"query","description":"项目编号","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"startTime","in":"query","description":"开始时间","required":false,"style":"form","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«StatNumByProgressVo»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/project/query":{"post":{"tags":["项目相关接口"],"summary":"查询项目列表","operationId":"queryUsingPOST_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectQuery"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVo«项目实体类»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/taskHistory/query":{"get":{"tags":["路口任务相关接口"],"summary":"路口任务履历","operationId":"queryUsingGET_2","parameters":[{"name":"projectId","in":"query","description":"projectId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"batchId","in":"query","description":"batchId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"crossId","in":"query","description":"crossId","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«TaskHistoryVo»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["路口任务相关接口"],"summary":"路口任务履历","operationId":"queryUsingPOST_6","parameters":[{"name":"projectId","in":"query","description":"projectId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"batchId","in":"query","description":"batchId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"crossId","in":"query","description":"crossId","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«TaskHistoryVo»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/user/oauth2/authorize/callback":{"get":{"tags":["用户相关接口"],"summary":"oauth2登录回调地址","operationId":"authorizeCallbackUsingGET","parameters":[{"name":"code","in":"query","description":"code","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/exportMonthlyMaterialUuid/{month}":{"get":{"tags":["工具接口"],"summary":"按月导出采集资料uuid","operationId":"exportMonthlyMaterialUuidUsingGET","parameters":[{"name":"month","in":"path","description":"month","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/exportMonthlyPerceptionResult/{month}":{"get":{"tags":["工具接口"],"summary":"按月导出点云建图数据","operationId":"exportMonthlyPerceptionResultUsingGET","parameters":[{"name":"month","in":"path","description":"month","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/getBusinessTypeList":{"get":{"tags":["工具接口"],"summary":"获取产线列表接口","operationId":"getBusinessTypeListUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/getCIFileByTaskId/{taskId}":{"get":{"tags":["工具接口"],"summary":"解析CI文件","operationId":"parseCIByTaskIdUsingGET","parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/getCityList":{"get":{"tags":["工具接口"],"summary":"获取城市列表","operationId":"getCityListUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«DimCity»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/getCurrentEvalAlgVsn":{"get":{"tags":["工具接口"],"summary":"获取当前推理打分算法版本","operationId":"getCurrentEvalAlgVsnUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«string»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/getEvalAlgVsnList":{"get":{"tags":["工具接口"],"summary":"获取推理打分算法版本列表","operationId":"getEvalAlgVsnListUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«string»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/getInferAlgVsnList":{"get":{"tags":["工具接口"],"summary":"获取推理算法版本列表","operationId":"getInferAlgVsnListUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«List«string»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/getMergeLineList":{"get":{"tags":["工具接口"],"summary":"获取融合类型接口","operationId":"getMergeLineListUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«object»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/inferEvalRefreshResult":{"post":{"tags":["工具接口"],"summary":"inferEvalRefreshResult","operationId":"inferEvalRefreshResultUsingPOST","parameters":[{"name":"inputFileKey","in":"query","description":"inputFileKey","required":true,"style":"form","schema":{"type":"string"}},{"name":"evalAlgVsn","in":"query","description":"evalAlgVsn","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«string»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/util/parseKwargsByAipInput":{"post":{"tags":["工具接口"],"summary":"获取点云建图任务输入","operationId":"parseKwargsByAipInputUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseVo«CrossmapKwargsVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/cross-produce-management/actuator":{"get":{"tags":["web-mvc-links-handler"],"summary":"links","operationId":"linksUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"components":{"schemas":{"AnnotationSelectQuery":{"title":"AnnotationSelectQuery","type":"object","properties":{"algVsn":{"type":"string"},"batchId":{"type":"integer","format":"int64"},"batchMode":{"type":"integer","description":"产线模式","format":"int32"},"businessType":{"type":"integer","description":"产线类型","format":"int32"},"cityCodes":{"type":"array","description":"城市编号","items":{"type":"string"}},"crossTags":{"type":"array","description":"路口场景","items":{"type":"integer","format":"int32"}},"crossTypes":{"type":"array","description":"道路等级","items":{"type":"integer","format":"int32"}},"endCreateTime":{"type":"string","description":"创建时间查询的截止时间","format":"date-time"},"orderBy":{"type":"string"},"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"routeSuccessPerBegin":{"type":"integer","description":"建图完成路径占比起始","format":"int32"},"routeSuccessPerEnd":{"type":"integer","description":"建图完成路径占比终止","format":"int32"},"routeTotalCountBegin":{"type":"integer","description":"路口路径总数起始","format":"int32"},"routeTotalCountEnd":{"type":"integer","description":"路口路径总数终止","format":"int32"},"startCreateTime":{"type":"string","description":"创建时间查询的开始时间","format":"date-time"},"tag":{"type":"integer","format":"int32"}}},"AnnotationSelectVo":{"title":"AnnotationSelectVo","type":"object","properties":{"adminCode":{"type":"string"},"algVsn":{"type":"string","description":"算法版本"},"batchId":{"type":"integer","description":"批次编号","format":"int64"},"createTime":{"type":"string","description":"任务创建时间","format":"date-time"},"crossId":{"type":"string","description":"路口编号"},"crossTag":{"type":"string","description":"路口类型"},"datasetClip":{"type":"string","description":"数据集clipId"},"datasetName":{"type":"string","description":"数据集名称"},"mappingResultId":{"type":"integer","description":"流水号","format":"int64"},"mappingTaskId":{"type":"integer","description":"任务编号","format":"int64"},"projectId":{"type":"integer","description":"项目编号","format":"int64"},"projectName":{"type":"string","description":"项目名称"},"routeNum":{"type":"integer","description":"覆盖路径数","format":"int32"},"routeTotalCount":{"type":"integer","description":"路径数量","format":"int32"},"status":{"type":"string","description":"状态"},"tag":{"type":"integer","format":"int32"},"type":{"type":"integer","format":"int32"}}},"BatchCross":{"title":"BatchCross","type":"object","properties":{"batchId":{"type":"integer","format":"int64"},"collectRouteNum":{"type":"integer","format":"int32"},"collectStatus":{"type":"integer","format":"int32"},"collectTaskNum":{"type":"integer","format":"int32"},"collectedRouteNum":{"type":"integer","format":"int32"},"collectedTaskNum":{"type":"integer","format":"int32"},"createTime":{"$ref":"#/components/schemas/Timestamp"},"crossId":{"type":"string"},"entireRouteNum":{"type":"integer","format":"int32"},"entireTaskNum":{"type":"integer","format":"int32"},"finishedRouteNum":{"type":"integer","format":"int32"},"finishedTaskNum":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int64"},"projectId":{"type":"integer","format":"int64"},"requiredRoutes":{"type":"string"},"status":{"type":"string"},"updateTime":{"$ref":"#/components/schemas/Timestamp"}}},"BatchCrossQuery":{"title":"BatchCrossQuery","type":"object","properties":{"batchId":{"type":"integer","description":"批次编号","format":"int64"},"batchIdList":{"type":"array","items":{"type":"integer","format":"int64"}},"businessType":{"type":"integer","description":"产线类型","format":"int32"},"cityNameList":{"type":"array","description":"城市名称列表","items":{"type":"string"}},"collectStatus":{"type":"integer","format":"int32"},"crossId":{"type":"string","description":"路口编号"},"crossIdList":{"type":"array","items":{"type":"string"}},"endTime":{"type":"string","description":"创建时间查询的开始时间","format":"date-time"},"orderBy":{"type":"string"},"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"projectId":{"type":"integer","description":"项目编号","format":"int64"},"startTime":{"type":"string","description":"创建时间查询的开始时间","format":"date-time"},"status":{"type":"string","description":"采集状态"},"statusList":{"type":"array","items":{"type":"string"}}}},"BatchInferEvalTask":{"title":"BatchInferEvalTask","type":"object","properties":{"batchInferEvalTaskDesc":{"type":"string","description":"打分刷库任务描述"},"batchInferEvalTaskId":{"type":"integer","description":"打分刷库任务编号","format":"int32"},"batchInferEvalTaskName":{"type":"string","description":"打分刷库任务名称"},"cityList":{"type":"string","description":"城市名称列表，多个时用英文逗号分割"},"createTime":{"type":"string","description":"任务创建时间","format":"date-time"},"diffFileAllKey":{"type":"string"},"diffFileInputKey":{"type":"string"},"diffNumAll":{"type":"integer","description":"变化源数量","format":"int32"},"diffNumInput":{"type":"integer","format":"int32"},"evalAlgVsn":{"type":"string","description":"打分算法版本"},"inferAlgVsn":{"type":"string","description":"推理算法版本"},"mergeSubtaskId":{"type":"integer","description":"融合任务ID","format":"int32"},"operator":{"type":"string","description":"创建人"},"projectId":{"type":"string","description":"项目编号"},"projectIds":{"type":"string","description":"项目编号列表，多个时用英文逗号分割"},"status":{"type":"string","description":"任务状态"},"tmsTaskId":{"type":"string","description":"tms任务号"},"updateTime":{"type":"string","format":"date-time"}}},"BatchInferEvalTaskDetailQuery":{"title":"BatchInferEvalTaskDetailQuery","type":"object","properties":{"batchInferEvalTaskId":{"type":"integer","description":"打分刷库任务编号","format":"int32"},"crossId":{"type":"string","description":"建图实体编号"},"endCreateTime":{"type":"string","description":"创建时间查询的截止时间","format":"date-time"},"inferAlgVsn":{"type":"string","description":"推理算法版本"},"orderBy":{"type":"string"},"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"startCreateTime":{"type":"string","description":"创建时间查询的开始时间","format":"date-time"}}},"BatchInferEvalTaskDetailVo":{"title":"BatchInferEvalTaskDetailVo","type":"object","properties":{"batchInferEvalTaskId":{"type":"integer","description":"刷库任务编号","format":"int32"},"cosKey":{"type":"string"},"createTime":{"type":"string","description":"创建时间","format":"date-time"},"crossId":{"type":"string","description":"建图实体编号"},"diffId":{"type":"string","description":"变化源编号"},"evalAlgVsn":{"type":"string","description":"打分算法版本"},"id":{"type":"integer","description":"记录ID","format":"int64"},"inferAlgVsn":{"type":"string","description":"推理算法版本"},"inferEvalDetail":{"type":"string","description":"打分结果明细"},"mappingTaskId":{"type":"integer","format":"int64"},"validRoute":{"type":"string","description":"打分通过路径"}}},"BatchInferEvalTaskQuery":{"title":"BatchInferEvalTaskQuery","type":"object","properties":{"batchInferEvalTaskId":{"type":"integer","description":"打分刷库任务编号","format":"int32"},"endCreateTime":{"type":"string","description":"创建时间查询的截止时间","format":"date-time"},"inferAlgVsn":{"type":"string","description":"推理算法版本"},"orderBy":{"type":"string"},"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"projectId":{"type":"integer","description":"项目ID","format":"int64"},"startCreateTime":{"type":"string","description":"创建时间查询的开始时间","format":"date-time"},"status":{"type":"string","description":"执行状态"},"tmsTaskId":{"type":"string"}}},"BatchMappingSubTaskQuery":{"title":"BatchMappingSubTaskQuery","type":"object","properties":{"batchId":{"type":"integer","description":"批次编号","format":"int64"},"batchIdList":{"type":"array","items":{"type":"integer","format":"int64"}},"batchMappingTaskId":{"type":"integer","description":"刷库任务编号","format":"int64"},"batchMappingTaskName":{"type":"string"},"batchMode":{"type":"integer","description":"产线模式","format":"int32"},"batchName":{"type":"string","description":"批次名称"},"businessType":{"type":"integer","description":"产线类型","format":"int32"},"crossId":{"type":"string","description":"路口编号"},"crossTaskId":{"type":"integer","description":"路口任务编号","format":"int64"},"crossTaskStatus":{"type":"string","description":"路口任务执行状态"},"crossTaskStatusList":{"type":"array","items":{"type":"string"}},"endCreateTime":{"type":"string","description":"创建时间查询的截止时间","format":"date-time"},"orderBy":{"type":"string"},"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"projectId":{"type":"integer","description":"项目编号","format":"int64"},"projectName":{"type":"string","description":"项目名称"},"startCreateTime":{"type":"string","description":"创建时间查询的开始时间","format":"date-time"},"status":{"type":"string","description":"状态"},"triggerStatus":{"type":"string"}}},"BatchMappingSubTaskVo":{"title":"BatchMappingSubTaskVo","type":"object","properties":{"aipTaskId":{"type":"string"},"aipTaskUrl":{"type":"string","description":"aip平台workflow任务页面跳转地址"},"batchId":{"type":"integer","description":"批次编号","format":"int64"},"batchMappingTaskId":{"type":"integer","description":"刷库任务编号","format":"int64"},"batchMappingTaskType":{"type":"string","description":"刷库任务类型"},"batchMode":{"type":"integer","description":"产线模式","format":"int32"},"batchName":{"type":"string","description":"批次名称"},"businessType":{"type":"integer","description":"产线类型","format":"int32"},"crossId":{"type":"string","description":"路口编号"},"crossTaskId":{"type":"string","description":"路口任务编号"},"crossTaskStatus":{"type":"string","description":"路口任务执行状态"},"crossType":{"type":"string","description":"路口类型"},"inputRouteNum":{"type":"integer","description":"输入覆盖路径数","format":"int32"},"projectName":{"type":"string","description":"项目名称"},"routeCollectedCount":{"type":"integer","description":"采集完成路径数","format":"int32"},"routeTotalCount":{"type":"integer","description":"路径总数","format":"int32"},"startTime":{"type":"string","description":"任务创建时间","format":"date-time"}}},"BatchMappingTaskQuery":{"title":"BatchMappingTaskQuery","type":"object","properties":{"batchId":{"type":"integer","description":"批次编号","format":"int64"},"batchIdList":{"type":"array","items":{"type":"integer","format":"int64"}},"batchMappingTaskId":{"type":"integer","description":"刷库任务编号","format":"int64"},"batchMappingTaskName":{"type":"string"},"batchMode":{"type":"integer","description":"产线模式","format":"int32"},"batchName":{"type":"string","description":"批次名称"},"businessType":{"type":"integer","description":"产线类型","format":"int32"},"endCreateTime":{"type":"string","description":"创建时间查询的截止时间","format":"date-time"},"orderBy":{"type":"string"},"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"projectId":{"type":"integer","description":"项目编号","format":"int64"},"projectName":{"type":"string","description":"项目名称"},"startCreateTime":{"type":"string","description":"创建时间查询的开始时间","format":"date-time"},"status":{"type":"string","description":"状态"}}},"BatchMappingTaskVo":{"title":"BatchMappingTaskVo","type":"object","properties":{"batchId":{"type":"string","description":"批次编号"},"batchMappingTaskDesc":{"type":"string","description":"刷库任务描述"},"batchMappingTaskId":{"type":"integer","description":"刷库任务编号","format":"int64"},"batchMappingTaskName":{"type":"string","description":"刷库任务名称"},"batchMappingTaskType":{"type":"string","description":"刷库任务类型"},"businessType":{"type":"integer","description":"产线类型","format":"int32"},"crossNum":{"type":"integer","description":"任务路口数","format":"int32"},"endTime":{"type":"string","description":"任务结束时间","format":"date-time"},"operator":{"type":"string","description":"创建人"},"sourceMappingResultType":{"type":"string"},"startTime":{"type":"string","description":"任务创建时间","format":"date-time"},"status":{"type":"string","description":"状态"},"taskParams":{"type":"string","description":"任务参数"}}},"CleanCrossReq":{"title":"CleanCrossReq","type":"object","properties":{"crossIdList":{"type":"array","items":{"type":"string"}},"projectId":{"type":"integer","format":"int64"},"sourceType":{"type":"string"}}},"CollectMaterialQuery":{"title":"CollectMaterialQuery","type":"object","properties":{"batchId":{"type":"integer","description":"批次编号","format":"int64"},"batchMode":{"type":"integer","description":"产线模式","format":"int32"},"businessType":{"type":"integer","description":"产线类型","format":"int32"},"collectTaskId":{"type":"integer","description":"采集任务编号","format":"int64"},"crossId":{"type":"string","description":"路口编号"},"crossList":{"type":"array","items":{"type":"string"}},"endTime":{"type":"string","description":"创建时间查询的开始时间","format":"date-time"},"eventGroupId":{"type":"string"},"materialId":{"type":"integer","description":"资料编号","format":"int64"},"materialIdList":{"type":"array","items":{"type":"integer","format":"int64"}},"orderBy":{"type":"string"},"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"projectId":{"type":"integer","description":"项目编号","format":"int64"},"routeId":{"type":"integer","description":"路径编号","format":"int64"},"startTime":{"type":"string","description":"创建时间查询的开始时间","format":"date-time"},"status":{"type":"string","description":"采集状态"},"statusList":{"type":"array","items":{"type":"string"}}}},"CollectMaterialVo":{"title":"CollectMaterialVo","type":"object","properties":{"batchId":{"type":"integer","description":"批次编号","format":"int64"},"batchName":{"type":"string","description":"批次名"},"collectTaskId":{"type":"integer","description":"采集任务编号","format":"int64"},"crossId":{"type":"string","description":"路口编号"},"eventGroupId":{"type":"string","description":"资料会话编号"},"materialId":{"type":"integer","description":"资料编号","format":"int64"},"projectId":{"type":"integer","description":"项目编号","format":"int64"},"projectName":{"type":"string","description":"项目名称"},"recordIdx":{"type":"string"},"routeId":{"type":"integer","description":"路径编号","format":"int64"},"section":{"type":"integer","description":"数据分段","format":"int32"},"status":{"type":"string","description":"资料使用状态"},"updateTime":{"type":"string","description":"更新时间","format":"date-time"},"uuid":{"type":"string","description":"uuid"}}},"ComboSite":{"title":"ComboSite","type":"object","properties":{"comboSitePid":{"type":"string"},"kind":{"type":"integer","format":"int32"},"siteList":{"type":"array","items":{"type":"string"}}}},"CreateProduceTaskMsg":{"title":"CreateProduceTaskMsg","type":"object","properties":{"comboSites":{"type":"array","items":{"$ref":"#/components/schemas/ComboSite"}},"mappingMode":{"type":"integer","format":"int32"},"sites":{"type":"array","items":{"$ref":"#/components/schemas/Site"}},"sourceId":{"type":"string"},"sourceType":{"type":"string"},"type":{"type":"string"}}},"CrossmapKwargsVo":{"title":"CrossmapKwargsVo","type":"object","properties":{"base_dataset_clip_id":{"type":"string"},"base_dataset_env":{"type":"string"},"base_dataset_nickname":{"type":"string"},"dataset_custom_clip_id":{"type":"string"},"dataset_custom_raw_clip_id":{"type":"string"},"dataset_nickname":{"type":"string"},"expected_route_number":{"type":"integer","format":"int32"},"junct_id":{"type":"string"},"map_id":{"type":"string"},"route_number":{"type":"integer","format":"int32"},"tripDataList":{"type":"array","items":{"$ref":"#/components/schemas/TripData"}}}},"DimCity":{"title":"DimCity","type":"object","properties":{"cityCode":{"type":"string"},"cityLevel":{"type":"string"},"cityName":{"type":"string"},"cityOrder":{"type":"integer","format":"int32"},"cityTag":{"type":"integer","format":"int32"},"provName":{"type":"string"}}},"InferEvalCompareResultQuery":{"title":"InferEvalCompareResultQuery","type":"object","properties":{"cityName":{"type":"string","description":"城市名称"},"endCreateTime":{"type":"string","description":"创建时间查询的截止时间","format":"date-time"},"evalAlgVsn":{"type":"string","description":"推理打分算法版本"},"inferEvalCompareTaskId":{"type":"integer","description":"打分结果对比任务编号","format":"int32"},"newInferAlgVsn":{"type":"string","description":"新版推理算法版本"},"newMergeSubtaskId":{"type":"integer","description":"新版融合任务ID","format":"int32"},"oldInfer
[...]
