@font-face {font-family: "dxcalendar";
  src: url('./dxcalendar.baseline.eot?t=1706516479777'); /* IE9 */
  src: url('./dxcalendar.baseline.eot?t=1706516479777#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./dxcalendar.baseline.woff?t=1706516479777') format('woff'), /* chrome, firefox */
  url('./dxcalendar.baseline.ttf?t=1706516479777') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./dxcalendar.baseline.svg?t=1706516479777#dxcalendar') format('svg'); /* iOS 4.1- */
}

.dxcalendar {
  font-family: "dxcalendar" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dx-calaccept:before { content: "\e000"; }
.dx-calcycle:before { content: "\e001"; }
.dx-calrefues:before { content: "\e002"; }
.dx-caltemporarily:before { content: "\e003"; }
.dx-calwait:before { content: "\e004"; }
.dx-calmeeting-room:before { content: "\e005"; }
.dx-calmeeting-room-fill:before { content: "\e006"; }
.dx-calturn:before { content: "\e007"; }
.dx-calindependence:before { content: "\e008"; }
.dx-calarrow-left:before { content: "\e009"; }
.dx-calarrow-right:before { content: "\e00a"; }
.dx-caladd_circle:before { content: "\e00b"; }
.dx-calavatar-group:before { content: "\e00c"; }
.dx-calavatar:before { content: "\e00d"; }
.dx-calbell:before { content: "\e00e"; }
.dx-calclose_nav:before { content: "\e00f"; }
.dx-calleft_day_nav:before { content: "\e010"; }
.dx-callocation:before { content: "\e011"; }
.dx-calreduce_circle:before { content: "\e012"; }
.dx-calremarks:before { content: "\e013"; }
.dx-calright_day_nav:before { content: "\e014"; }
.dx-caltime:before { content: "\e015"; }
.dx-caltoday:before { content: "\e016"; }
.dx-calwarning_calendar:before { content: "\e017"; }
.dx-callock:before { content: "\e018"; }
.dx-calcancelcalendar:before { content: "\e019"; }
.dx-caltime_arrow:before { content: "\e01a"; }
.dx-calcheckmini:before { content: "\e01b"; }
.dx-calchecked:before { content: "\e01c"; }
.dx-calavatarseq:before { content: "\e01d"; }
.dx-calcheckbox:before { content: "\e01e"; }
.dx-calsearch:before { content: "\e01f"; }
.dx-calcancelinvite:before { content: "\e020"; }
.dx-calplaceonleft:before { content: "\e021"; }
.dx-caldown:before { content: "\e022"; }
.dx-calclose_mini:before { content: "\e023"; }
.dx-calumeet:before { content: "\e024"; }
.dx-caledit:before { content: "\e025"; }
.dx-calellipsis:before { content: "\e026"; }
.dx-calshare:before { content: "\e027"; }
.dx-calhuiyifankui:before { content: "\e028"; }
.dx-calhuihua:before { content: "\e029"; }
.dx-calshipin:before { content: "\e02a"; }
.dx-calhierarchy:before { content: "\e02b"; }
.dx-calclose-o:before { content: "\e02c"; }
.dx-caldown-o:before { content: "\e02d"; }
.dx-calright-o:before { content: "\e02e"; }
.dx-calup-o:before { content: "\e02f"; }
.dx-calsetting-o:before { content: "\e030"; }
.dx-calcheck-o:before { content: "\e031"; }
.dx-calcheck_color:before { content: "\e032"; }
.dx-callink2:before { content: "\e033"; }
.dx-caldelete-o-r:before { content: "\e034"; }
.dx-caledit-o-r:before { content: "\e035"; }
.dx-calclose-r:before { content: "\e036"; }
.dx-calcheck-r:before { content: "\e037"; }
.dx-calbell-o-r:before { content: "\e038"; }
.dx-caladd-r:before { content: "\e039"; }
.dx-calcalendar-share-r:before { content: "\e03a"; }
