@font-face {font-family: "dxcalendar-schedule-mrn";
  src: url('./dxcalendar-schedule-mrn.baseline.eot?t=1621325218373'); /* IE9*/
  src: url('./dxcalendar-schedule-mrn.baseline.eot?t=1621325218373#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./dxcalendar-schedule-mrn.baseline.woff?t=1621325218373') format('woff'), /* chrome, firefox */
  url('./dxcalendar-schedule-mrn.baseline.ttf?t=1621325218373') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./dxcalendar-schedule-mrn.baseline.svg?t=1621325218373#dxcalendar-schedule-mrn') format('svg'); /* iOS 4.1- */
}

.dxcalendar-schedule-mrn {
  font-family: "dxcalendar-schedule-mrn" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.dx-calaccept:before { content: "\e000"; }
.dx-calcycle:before { content: "\e001"; }
.dx-caltemporarily:before { content: "\e002"; }
.dx-calwait:before { content: "\e003"; }
.dx-calrefues:before { content: "\e004"; }
.dx-calmeeting-room:before { content: "\e005"; }
.dx-calmeeting-room-fill:before { content: "\e006"; }
.dx-calturn:before { content: "\e007"; }
.dx-calindependence:before { content: "\e008"; }
.dx-calarrow-left:before { content: "\e009"; }
.dx-calarrow-right:before { content: "\e00a"; }
.dx-caladd_circle:before { content: "\e00b"; }
.dx-calavatar-group:before { content: "\e00c"; }
.dx-calavatar:before { content: "\e00d"; }
.dx-calbell:before { content: "\e00e"; }
.dx-calclose_nav:before { content: "\e00f"; }
.dx-calleft_day_nav:before { content: "\e010"; }
.dx-callocation:before { content: "\e011"; }
.dx-calreduce_circle:before { content: "\e012"; }
.dx-calremarks:before { content: "\e013"; }
.dx-calright_day_nav:before { content: "\e014"; }
.dx-caltime:before { content: "\e015"; }
.dx-caltoday:before { content: "\e016"; }
.dx-calwarning_calendar:before { content: "\e017"; }
.dx-callock:before { content: "\e018"; }
.dx-calcancelcalendar:before { content: "\e019"; }
.dx-caltime_arrow:before { content: "\e01a"; }
.dx-calcheckmini:before { content: "\e01b"; }
.dx-calchecked:before { content: "\e01c"; }
.dx-calavatarseq:before { content: "\e01d"; }
.dx-calcheckbox:before { content: "\e01e"; }
.dx-calsearch:before { content: "\e01f"; }
.dx-calcancelinvite:before { content: "\e020"; }
.dx-calplaceonleft:before { content: "\e021"; }
.dx-caldown:before { content: "\e022"; }
.dx-calclose_mini:before { content: "\e023"; }
.dx-calumeet:before { content: "\e024"; }
